<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="overlay"></div>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div data-interval="2000" class="carousel-item active">
      <img src="~/img/46434261_1114840112019201_1931966101801926656_o.jpg" class="d-block w-100"  alt="pizza">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div data-interval="2000" class="carousel-item">
      <img src="~/img/51628638_1173990422770836_72809423768125440_o.jpg" class="d-block w-100"  alt="pizza">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div data-interval="2000" class="carousel-item">
      <img src="~/img/53833658_1191827594320452_3995328601946849280_o.jpg" class="d-block w-100"  alt="pizza">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
<h2 class="pz-title text-center mx-auto bg-color">Welcome to Pizza 85</h2>
<h3 class="text-danger bg-color"><span class="icon-hot"><img class="mb-1 d-inline-block" src="~/icon/fire.svg" style="width:40px;" alt=""></span> Hot</h3>
<hr style="width:60%;text-align:left;margin:0;border-width: 5px;border-color: red;"/>
<div class="row m-1">
    <div class="col-sm-4 p-cus">
    <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzabo.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
    </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzaccc.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzabbq.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text.</p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzapprn.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
  </div>
  <h3 class="text-color bg-color"><span class="icon-hot"><img class="mb-1 d-inline-block" src="~/icon/food-delivery.svg" style="width:40px;" alt=""></span> Quan tâm nhiều</h3>
  <hr style="width:60%;text-align:left;margin:0;border-width: 5px;border-color: rgb(252, 139, 69);"/>
  <div class="row m-1">
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzaccc.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzabbq.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text.</p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
        <div class="col-sm-4 p-cus">
    <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzabo.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
    </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzaccc.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzabbq.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text.</p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzapprn.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
    <div class="col-sm-4 p-cus">
  <div class="card img-fluid text-light" >
    <img class="card-img-top" src="~/img/pizzaccc.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title pz-title font-weight-bold">Pizza poem</h4>
      <p class="card-text font-weight-bold">Some example text some example text. </p>
      <a href="#" class="btn btn-success btn-order"><span><img src="~/icon/shopping-cart.svg" alt="" style="width: 32px;"></span> Buy</a>
    </div>
  </div>
    </div>
</div>
</div>